<!DOCTYPE html>
<html lang="en">
    {{template "head.html" .}}
    <body>
        <p>arch@blmayer$ cd projects/asciichartr</p>
        {{template "header.html"}}
        <h3><a name="asciichartr">asciichartr</a></h3>
        <p>
            asciichartr is a R package that draws a plot on your console using
            only ascii characters. It is a port of the asciichart npm package,
            the idea is to be ease and quick to print out a chart of your data.
            This is the
            <a href="https://github.com/blmayer/asciichartr">link</a> to my
            port's source code.
        </p>
    </body>
</html>
