<!DOCTYPE html>
<html lang="en">
    {{template "head.html" .}}
    <body>
        <p>arch@blmayer$ cd projects/homemade-recipes</p>
        {{template "header.html"}}
        <h3><a name="app">homemade recipes</a></h3>
        <p>
            Homemade Recipes or Feita em casa is a project I started for two
            reasons: for study and to try to help with the COVID-19 quarantine.
            The study part allowed me to practice my coding skills in Golang,
            Flutter and web and try new technologies like Cloud build, templates
            and server side rendering. The idea is to help people use the
            ingredients they have at home, thus not leaving home, and being
            more efficient at home. Also, searching recipes by ingredients
            instead of name is quite the opposite way of doing it, which I
            think is amusing. This way people can cook more without leaving
            home to buy food.
        </p>
        <p>
            The project turned out be an app, distributed for Android and iOS
            on the respective app stores. I developed a web version too, and
            can be accessed on the link below.
        </p>
        <p><a href="https://feitaemcasa.com">Web version</a></p>
        <p>
            The apps are currently available on 11 countries, those with 
            portuguese or english languages. Recipes are different depending
            on the language you choose. On the web version you can access
            anywhere, and can choose the language by clicking on the flag in
            the top right corner. I plan to add more languages in the future.
            Below you find the links to the apps.
        </p>
        <p>
            <a href='https://play.google.com/store/apps/details?id=br.com.feitaemcasa'>
                <img width="160px" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png'/>
            </a>
        </p>
        <p>
            <a href="https://apps.apple.com/us/app/feita-em-casa/id1529540506?mt=8">
                <img style="margin:0 10px" width="140px" alt="Get it on App Store" src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2020-08-28&kind=iossoftware&bubble=ios_apps"/>
            </a>
        </p>
    </body>
</html>
