<!DOCTYPE html>
<html lang="en">
    {{template "head.html" .}}
    <body>
        <p>arch@blmayer$ ./htop</p>
        {{template "header.html"}}
        <htop>
<pre class="diff">
Golang
C
R
JavaScript
MongoDB
AWS Lambda
Shell/Linux
Mathematica
GCP
MySQL
Flutter
</pre>
<pre>
 [||||||||||||||||||||||
 [|||||||||||||||    
 [||||||||||||||       
 [|||||||||  
 [||||||||||
 [|||||||||||||||||||||||||||   
 [|||||||||||||||||||||||||
 [|||||||||||||||||     
 [||||||||||||               
 [|||||||||||||||        
 [|||||||          
</pre>
<pre class="diff">
66%
52%
50%
35%
38%
79%
74%
55%
42%
52%
30%
</pre>
<pre>
]
]
]
]
]
]
]
]
]
]
]
</pre>
<pre class="diff">
 Battery:
 Uptime:
</pre>
<pre >
 100%
 {{.Age}} years
</pre>
    </htop>
    </body>
</html>
